<select name="country_id" id="country">
<% @countries.each do |country| %>
	<%= country.id.class %>
	<%= @country_id.class %>
	<% if country.id == @country_id %>
		<option value="<%= country.id %>" selected><%= country.country %></option>
	<% else %>
		<option value="<%= country.id %>"><%= country.country %></option>
	<% end %>
<% end %>
</select>