<form action="/user/register" method="post" accept-charset="utf-8">
	<label for="email">E-Mail</label>
	<input type="text" name="email" value="" />
	<label for="password">Password</label>
	<input type="text" name="password" value="" />
	<p><input type="submit" value="Continue &rarr;"></p>
</form>