<% unless logged_in? %>
	<div class="block"> 
		<%= render_template('partials/form_login') %>
	</div>
<% end %>

<div class="block">
	<h3>Dummy Block</h3>
	bla bla bla
</div>

<div class="block">
	<h3>Another Dummy</h3>
	bla bla bla
</div>