<%= render_template('../partials/form_login_user') %>

<% if flash[:login_failed] %>
<ul>
<li><%= _('Check your login and user name') %></li>
<li><%= _('Is your account activated?') %></li>
<li><%= _('Forgot your password?') %><a href="<%= R(UserController, :reset) %>"><%= _('Reset it')%></a></li>
</ul>
<% end %>