<div class="content">
	<% @photos.each do |photo| %>
		<div class="out">
			<a href="<%== photo.photo %>" rel="milkbox:profile"><img src="<%== photo.thumbnail %>" alt="<%= photo.title || 'Profile' %>" /></a>
		</div>
	<% end %>
	<% if @photos.empty? %>
		<p class="center_warning">
			<%= _('No photos were submitted yet') %>
		</p>
	<% end %>
</div>