/* @main tags begin */
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	background-color: #181818;
	color: #ccc;
	text-decoration: none;
	word-spacing: 0.15em;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.5em;
	font-size: 0.7em;
	font-weight: lighter;
}

form {
	padding: 0;
	margin: 0;
}

legend {
	padding: 0;
	margin: 0;
}

a {
	color: #e64b1b;
	text-decoration: none;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	padding: 0px 0 10px 0;
}

input, textarea, select {
	border: 2px solid #ccc;
	/*margin-bottom: 10px;*/
}

label {
	margin-top: 10px;
	margin-left: 2px;
	margin-bottom: 2px;
	display: block;
}

textarea {
	width: 250px;
	border: 2px solid #ccc;
}
/* @main tags end */

/* @main structure begin */
#wrapper {
	width: 800px;
	background-color: #0a0a0a;
	margin: 10px auto;
}

#header {
	height: 150px;
	background-image: url(../imgs/banner.png);
}

#header .alpha {
	position: relative;
	left: 700px;
	top: -10px;
}

/* @top_menu begin */
#top_menu {
	overflow: auto;
	background-color: #101010;
}
#top_menu a {
	color: #e64b1b;
	text-decoration: none;
	padding-left: 10px;
}

#top_menu a span {
	color: #e64b1b;
	text-decoration: none;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	height: 16px;
}

#top_menu a:hover {
	color: #e64b1b;
	background: url(../imgs/menu_round.png) 0 0px no-repeat;
	text-decoration: none;
	padding-left: 10px;
	background-color: #282828;
}

#top_menu a:hover span {
	color: #e64b1b;
	background: url(../imgs/menu_round.png) 100% 0px no-repeat;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #282828;
}

#top_menu a, #top_menu a span
{
	display: block;
	float: left;
}

#top_menu ul
{
	list-style: none;
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;	
}

#top_menu li
{
	margin: 0;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	background: url(../imgs/menu_sep.png) no-repeat top right;
}
/* @top_menu end */

/* @content wrappers begin */
#content_wrapper {
	background-color: #000;
	width: 555px;
	margin-left: 10px;
	float: left;
}

#content_wrapper a, #footer a {
	border-bottom: 1px dotted #e64b1b;
	text-decoration: none;
}

#content_wrapper a:visited, #footer a:visited {
	text-decoration: none;
}

#content_wrapper a:hover, #footer a:hover {
	border-bottom: 1px dotted #ccc;
}

#sidebar_wrapper, #content_wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}

#sidebar_wrapper {
	width: 215px;
	float: right;
	margin-right: 10px;
}
/* @content wrappers end */

#footer {
	text-align: center;
	font-size: 80%;
	padding: 10px;
	background-color: #101010;
	clear: both;
}
/* @main structure end */

/* @blocks begin */

.content, .block {
	background-color: #1d1d1d;
	padding: 10px;
	margin-bottom: 10px;
	overflow: auto;
}
/* @blocks end */

.example {
	display: block;
	font-size: 80%;
	margin-left: 2px;
	color: #ccc;
}

/* @profile_nav begin */

.profile_nav a:hover {
	color: #ccc;
}

.profile_nav li {
	background-color: black;
	padding: 5px 5px 5px 10px;
	margin-top: 2px;
}

.profile_nav li.first, .profile_nav li.current{
	margin-top: 0px;
}

.profile_nav li.current {
	font-weight: bold;
	background-color: #1d1d1d;
}

body#profile li.profile, body#profile .box_settings,
body#avatar li.avatar, body#avatar .box_settings,
body#password li.password, body#password .box_settings,
body#notifications li.notifications, body#notifications .box_settings,
body#url_alias li.url_alias, body#url_alias .box_settings,
body#location li.location, body#location .box_settings,
body#delete li.delete, body#delete .box_settings,
body#photos li.photos, body#photo li.photos, body#photos .box_settings,
body#discography li.discography, body#album li.discography, body#track li.discography,
body#discography .box_settings, body#album .box_settings, body#track .box_settings,
body#elements li.elements, body#elements .box_settings,
body#agenda li.agenda, body#event li.agenda,
body#agenda .box_settings, body#event .box_settings,
body#login li.login,
body#register_band li.band,
body#register_user li.user,
body#view .box_profile
 {
	font-weight: bold;
	background-color: #1d1d1d;
}


/* @profile_nav end */


.out_60 {
	text-align: center;
	float: left;
	border: none;
}

.out_60 a {
	border-bottom: none !important;
}

.out_60:hover {
	background: #ccc;
}


/* @settings photos begin */
.out {
	margin: 1px 0 0 1px;
	float: left;
	width: 100px;
	height: 100px;
	padding: 3px;
	background: #000;
}

.out a {
	border-bottom: none !important;
}

.out:hover {
	background: #ccc;
}

.out img {
	margin-bottom: -28px;
	position: relative;
}

div.in {
	padding: 2px 5px 2px 5px;
	background: url(../imgs/transparent_pixel.png);
	color: white;
	text-align: center;
	position: relative;
	height: 20px;
}


div.in li.delete a {
	top: 5px;
	left: 80px;
}

div.in a {
	border-bottom: none;
	text-decoration: none;
}

div.in li.edit a {
	top: 5px;
	left: 60px;
}

div.in li.delete a {
	background: url(/imgs/edit_delete_sprite.png) 0px 0px no-repeat;
}

div.in li.delete a:hover {
	background: url(/imgs/edit_delete_sprite.png) 0px -16px no-repeat;
}

div.in li.edit a {
	background: url(/imgs/edit_delete_sprite.png) -16px 0px no-repeat;
}

div.in li.edit a:hover {
	background: url(/imgs/edit_delete_sprite.png) -16px -16px no-repeat;
}

div.in a {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	text-decoration: none;
}

.in a {
	text-decoration: none;
	border: none !important;
}

/* @settings photos end */

.spinner {
	height: 16px;
	width: 16px;
	border: none;
	color: transparent;
	background: url(/imgs/spinner.gif) no-repeat;
}

/* @settings events form begin */
#event fieldset {
	padding: 5px;
}

#event legend { 
}

/* @settings events form end */

#map_wrapper {
	height:300px; 
	border: 2px solid #ccc;
}

#overlay {
	position: relative;
	z-index: 2;
	background: #333;
	overflow: hidden;
	float: left;
	left: 2px;
	top: 2px;
	width: 531px;
	background: url(/imgs/transparent_pixel.png);
	height: 20px;
}

.album, .event {
	overflow: auto;
}

.feedback a {
	background: url(../imgs/feedback.png) no-repeat 0 0;
	width: 31px;
	height: 125px;
	position: fixed;
	top: 160px;
}
.feedback a:hover {
	background: url(../imgs/feedback.png) no-repeat 0 -125px;
}

.submit {
	color: transparent;
}