/* @main tags begin */
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	background-color: #181818;
	color: #ccc;
	text-decoration: none;
	word-spacing: 0.15em;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.5em;
	font-size: 0.7em;
	font-weight: lighter;
}

form {
	padding: 0;
	margin: 0;
}

legend {
	padding: 0;
	margin: 0;
}

a {
	color: #e64b1b;
	text-decoration: none;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	padding: 0px 0 10px 0;
}

input, textarea, select {
	border: 2px solid #ccc;
}

label {
	margin-top: 10px;
	margin-left: 2px;
	margin-bottom: 2px;
	display: block;
}

button {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	
}

img {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}

button:hover {
	cursor: pointer;
}

/* @main tags end */

/* @main structure begin */
#wrapper {
	width: 800px;
	background-color: #0a0a0a;
	margin: 10px auto;
}

#header {
	height: 150px;
	background-image: url(../imgs/banner.png);
}

#header .alpha {
	position: relative;
	left: 700px;
	top: -10px;
}

/* @top_menu begin */
#top_menu:after {
	content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}

#top_menu {
	background-color: #101010;
}
#top_menu a {
	color: #e64b1b;
	text-decoration: none;
	padding-left: 10px;
}

#top_menu a span {
	color: #e64b1b;
	text-decoration: none;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	height: 16px;
}

#top_menu a:hover {
	color: #e64b1b;
	background: url(../imgs/menu_round.png) 0 0px no-repeat;
	text-decoration: none;
	padding-left: 10px;
	background-color: #282828;
}

#top_menu a:hover span {
	color: #e64b1b;
	background: url(../imgs/menu_round.png) 100% 0px no-repeat;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #282828;
}

#top_menu a, #top_menu a span
{
	display: block;
	float: left;
}

#top_menu ul
{
	list-style: none;
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;	
}

#top_menu li
{
	margin: 0;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	background: url(../imgs/menu_sep.png) no-repeat top right;
}
/* @top_menu end */

/* @content wrappers begin */
#content_wrapper {
	background-color: #0a0a0a;
	width: 555px;
	margin-left: 10px;
	float: left;
}

#content_wrapper a, #footer a {
	text-decoration: none;
}

#content_wrapper a:visited, #footer a:visited {
	text-decoration: none;
}

#content_wrapper a:hover, #footer a:hover {
	color: #ccc;
}

#sidebar_wrapper, #content_wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}

#sidebar_wrapper {
	width: 215px;
	float: right;
	margin-right: 10px;
}
/* @content wrappers end */

#footer {
	text-align: center;
	font-size: 80%;
	padding: 10px;
	background-color: #101010;
	clear: both;
}
/* @main structure end */

/* @blocks begin */

.content, .block {
	background-color: #1d1d1d;
	padding: 10px;
	margin-bottom: 10px;
/*	overflow: auto;*/
}

.content:after, .block:after {
	content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}
/* @blocks end */

.example {
	display: block;
	font-size: 80%;
	margin-left: 2px;
	color: #ccc;
}

/* @profile_nav begin */

.profile_nav a:hover {
	color: #ccc;
}

.profile_nav a {
	padding: 5px 5px 5px 10px;
	text-decoration: none;
	display: block;
}
.profile_nav li {
	background-color: black;
	margin-top: 2px;
}

.profile_nav li.first, .profile_nav li.current{
	margin-top: 0px;
}

.profile_nav li.current {
	font-weight: bold;
	background-color: #1d1d1d;
}

body#profile li.profile, body#profile .box_settings,
body#avatar li.avatar, body#avatar .box_settings,
body#password li.password, body#password .box_settings,
body#notifications li.notifications, body#notifications .box_settings,
body#url_alias li.url_alias, body#url_alias .box_settings,
body#location li.location, body#location .box_settings,
body#delete li.delete, body#delete .box_settings,
body#photos li.photos, body#photo li.photos, body#photos .box_settings,
body#discography li.discography, body#album li.discography, body#track li.discography,
body#discography .box_settings, body#album .box_settings, body#track .box_settings,
body#elements li.elements, body#elements .box_settings,
body#agenda li.agenda, body#event li.agenda,
body#agenda .box_settings, body#event .box_settings,
body#login li.login,
body#register_band li.band,
body#register_user li.user,
body#view .box_profile
 {
	font-weight: bold;
	background-color: #1d1d1d;
}


/* @profile_nav end */


.out_60 {
	float: left;
	height: 60px;
	width: 60px;
	padding: 2px;
	background: #000;
	margin: 1px 0 0 1px;
}

.out_60 a {
	border-bottom: none !important;	
}

.out_60:hover {
	background: #ccc;
}

/* @settings photos begin */
.out {
	margin: 1px 0 0 1px;
	float: left;
	width: 100px;
	height: 100px;
	padding: 3px;
	background: #000;
}

.out a {
	border-bottom: none !important;
}

.out:hover {
	background: #ccc;
}

.out img {
	margin-bottom: -28px;
	position: relative;
}

div.in {
	padding: 2px 5px 2px 5px;
	background: url(../imgs/transparent_pixel.png);
	color: white;
	text-align: center;
	position: relative;
	height: 20px;
}


div.in li.delete a {
	top: 5px;
	left: 80px;
}

div.in a {
	border-bottom: none;
	text-decoration: none;
}

div.in li.edit a {
	top: 5px;
	left: 60px;
}

div.in li.delete a {
	background: url(/imgs/edit_delete_sprite.png) 0px 0px no-repeat;
}

div.in li.delete a:hover {
	background: url(/imgs/edit_delete_sprite.png) 0px -16px no-repeat;
}

div.in li.edit a {
	background: url(/imgs/edit_delete_sprite.png) -16px 0px no-repeat;
}

div.in li.edit a:hover {
	background: url(/imgs/edit_delete_sprite.png) -16px -16px no-repeat;
}

div.in a {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	text-decoration: none;
}

.in a {
	text-decoration: none;
	border: none !important;
}

/* @settings photos end */

.spinner {
	height: 16px;
	width: 16px;
	border: none;
	background: url(/imgs/spinner.gif) no-repeat;
}

/* @settings events form begin */
#event fieldset {
	padding: 5px;
}

#event legend { 
}

/* @settings events form end */

.album, .event {
	overflow: auto;
}

/* @feedback img begin */
.feedback a {
	background: url(../imgs/feedback.png) no-repeat 0 0;
	width: 31px;
	height: 125px;
	position: fixed;
	top: 160px;
}
.feedback a:hover {
	background: url(../imgs/feedback.png) no-repeat 0 -125px;
}
/* @feedback img end */

.submit {
	color: #1d1d1d;
}

/* @content tabs begin */
.content_tabs:after {
   content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}


.content_tabs ul {
	margin: 0;
  	padding: 0;
  	list-style: none;
}

.content_tabs li {
	float: left;
	margin: 0 5px 0 0;
  	padding: 0;
	text-align: center;
}

.content_tabs a {
	display: block;
	border-bottom: none !important;
	padding: 6px 10px 6px 10px;
	background: #161616;
}

.content_tabs a:hover {
	background: #1d1d1d;
}

.content_tabs .active {
	float: left;
	margin: 0 5px 0 0;
  	padding: 0;
	text-align: center;
}

.content_tabs .active a, .content_tabs span {
	display: block;
	border-bottom: none !important;
	padding: 6px 10px 6px 10px;
	background: #1d1d1d;
}
/* @content tabs end */

.center_warning {
	text-align: center; 
	vertical-align: middle;
	top: -50%;
	
}
/* @content tabs end */

/* @profile map & overlays begin */

#overlay_events {
	width: 250px;
}

#overlay_events a {
	display: block;
	border-bottom: none !important;
	padding: 5px;
	
}

#overlay_events a:hover {
	color: #ccc;
}

#overlay_events li {
	background: url(/imgs/overlay_menu_pixel.png) 0 0 repeat-x;
}
#overlay_events li.last {
	background: url(/imgs/overlay_round_dark.png) no-repeat bottom right;
	padding-bottom: 5px;
}

#overlay_events .last a:hover {
	color: #ccc;
}

#overlay {
	position: relative;
	z-index: 2;
	overflow: hidden;
	float: left;
	left: 2px;
	top: 2px;
	width: 251px;
	/*background: url(/imgs/transparent_pixel.png);*/
	height: 31px;
}

#map_wrapper a {
	border-bottom: none !important;
}

#map_wrapper {
	height:300px; 
	border: 2px solid #ccc;
}
/* @profile map & overlays end */

/* @fan begin */
.im_fan, .not_fan {
	background: black;
	padding-left: 5px;
}

.im_fan a, .not_fan a {
	display: block;
	padding: 5px 5px 5px 20px;
}

.im_fan a:hover, .not_fan a:hover {
	color: #ccc;
}

.im_fan a {
	background: url(/imgs/add.png) no-repeat left;
}

.not_fan a {
	background: url(/imgs/delete.png) no-repeat left;
}
/* @fan begin */

/* @shouts begin */
#shout_wrapper .sender {
	float: left;
}

#shout_wrapper .shout_form form {
	padding-left: 70px;
	position: relative;
}

#shout_wrapper .shout_form form {
	padding-left: 70px;
}

#shout_wrapper .shout_form textarea {
	width: 99%;
	height: 85px;
}

#shout_wrapper .shout_form .avatar {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 60px;
}

#shout_wrapper .submit {
	padding: 5px 0 5px 0;
	text-align: right;
}

#shout_wrapper .shout {
	margin-top: 10px;
}

#shout_wrapper .shout .avatar {
	float: left;
	width: 70px;
}

#shout_wrapper .shout .avatar img {
	background: black;
	padding: 2px;
}

#shout_wrapper .shout .avatar img:hover {
	background: #ccc;
}

#shout_wrapper .shout .avatar a {
	border-bottom: none !important;
}

#shout_wrapper .shout .name {
	float: left;
}

#shout_wrapper .shout .info {
	overflow: auto;
	border-bottom: 1px solid #363636;
}

#shout_wrapper .shout .msg {
	margin-left: 65px;
	padding: 5px;
}

#shout_wrapper .shout .actions, #shout_wrapper .shout .actions a {
	float: right;
	border-bottom: none !important;
}

#shout_wrapper .shout button, #shout_wrapper .shout form {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

#shout_wrapper .shout button:hover {
	cursor: pointer;
}

#shout_wrapper .flash_info, .flash_error {
	padding: 5px 0 5px 0;
	text-align: center;
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;
	color: #000;
}

.flash_info {
	background: #A4E696;
}

.flash_error {
	background: #E76C6C;
}

#shout_wrapper .avatar img {
	padding: 2px;
	background: #000;
}

.clearfix:after {
	content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}
/* @shouts end */

.buttons {
	padding: 10px 0 0 0;
}

.input_big {
	font-size: 160%;
	font-weight: bold;
	padding: 5px;
	width: 479px;
}

.button_big {
	height: 35px;
	width: 35px;
	background: url(/imgs/search_button_bg.png);
}

/* @elements setting/profile begin */
.small_user_list {
	margin-top: 10px;
}

.user_item_profile:hover, .user_item_settings:hover {
	background: #000;
}

.user_item_settings, .user_item_profile { 
	padding: 5px 5px 5px 5px;
}

.user_item_info {
	padding: 0 5px 5px 70px;
}

.user_item_profile {
	width: 257px; 
	float: left;
}

.user_item_action {
	clear: both;
	margin-left: 1px;
}

.user_item_action button {
	padding-top: 0.2em;
}

.user_item_settings input.instruments {
	width: 94%;
	font-weight: bold;
	float: left;
}

.user_item_settings button.add {
	float: right;
}

.user_item_settings .user_item_info label {
	margin-top: 0px;
}
/* @elements setting/profile end */
.image_border_60 {
	padding: 1px;
	width: 60px;
	height: 60px;
	background: #000;
	float: left;
}

.image_border_60 a {
	border: none !important;
}

.image_border_60:hover {
	background: #ccc;
}

.flash_info, .flash_error {
	padding: 5px 0 5px 0;
	text-align: center;
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;
	color: #000;
}

.center {
	text-align: center;
	display: block;
}

.inline_form {
	display: inline;
}

.hide {
	display: none;
	visibility: hidden;
}

.show {
	display: block;
	visibility: visible;
}

.single {
	padding: 1px 0 1px 0;
}