<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>master</title>
</head>
<body id="<%= actions.first.name %>">
	<div id="wrapper">
		<div id="header">
			<!--header content-->
		</div>
		<div id="top_menu">
			<ul>
				<% unless logged_in? %>
				<li class="first"><a href="<%= AccountController.r(:register, 'band') %>"><span><%= _('Register as Band') %></span></a></li>
				<li><a href="<%= AccountController.r(:register, 'user') %>"><span><%= _('Register as User') %></span></a></li>
				<% end %>
				<% if logged_in? %>
				<li class="first"><a href="<%= ProfileController.r(:view, user.alias) %>"><span><%= _('Your Profile') %></span></a></li>
				<% end %>
				<li><a href="#"><span><%= _('News') %></a></span></li>
				<li><a href="#"><span><%= _('Events') %></a></span></li>
				<li><a href="#"><span><%= _('Search') %></a></span></li>
				<li><a href="#"><span><%= _('Bands') %></a></span></li>
				<li><a href="#"><span><%= _('Users') %></span></a></li>
				<% if logged_in? %>
				<li style="float: right;"><a href="<%= AccountController.r(:logout) %>"><span><%= _('Logout') %></span></a></li>
				<% end %>
			</ul>
		</div>
		<div id="content_wrapper">
			<%= @content %>
		</div>
		<div id="sidebar_wrapper">
			<%= render_view(actions.first.name){|action| action.view = 'view/partials/sidebar.rhtml'} %>
		</div>
		<div id="footer">
			footer
		</div>
	</div>
	
	<!-- javascript begin -->
	<script src="/js/mootools-1.2.2-core-yc.js" type="text/javascript"></script>
	<script src="/js/soundtape.js" type="text/javascript"></script>
	
	<% if actions.first.name == 'location' || actions.first.name == 'event' %>
	<!--ABQIAAAAflhq-wFxwgZJ8KnRVd363hRb4M3c0FaL2mmPX8y3utMpVmobshSrG7V522W8K3oBTyzrdWNyn-WKvA - soundtape.net-->
	<script src="http://www.google.com/jsapi?key=ABQIAAAAflhq-wFxwgZJ8KnRVd363hRb4M3c0FaL2mmPX8y3utMpVmobshSrG7V522W8K3oBTyzrdWNyn-WKvA"></script>
	<script type="text/javascript" charset="utf-8" src="/js/location.js"></script>
	<% end %>
	<!-- javascript end-->
</body>
</html>