<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	<script src="/js/mootools-1.2.2-core-yc.js" type="text/javascript"></script>
	<script src="/js/soundtape.js" type="text/javascript"></script>
	
	<% if actions.first.name == 'location' || actions.first.name == 'event' %>
	<script src="http://www.google.com/jsapi?key=ABQIAAAAflhq-wFxwgZJ8KnRVd363hT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQFTizf9MzXXYBNRffHgfAjFLU99w"></script>
	<script type="text/javascript" charset="utf-8" src="/js/location.js"></script>
	<% end %>
	
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>master</title>
</head>
<body id="<%= actions.first.name %>">
	<div id="wrapper">
		<div id="header">
			<!--header content-->
		</div>
		<div id="top_menu">
			<ul>
				<li class="first"><a href="#"><span>Registar</span></a></li>
				<li><a href="#"><span>Link 2</span></a></li>
				<li><a href="#"><span>Registar Uder</span></a></li>
				<li><a href="#"><span>Link 4</span></a></li>
				<li><a href="#"><span>Link 5</span></a></li>
				<li><a href="#"><span>Link 6</span></a></li>
			</ul>
		</div>
		<div id="content_wrapper">
			<%= @content %>
		</div>
		<div id="sidebar_wrapper">
			<%= render_view(actions.first.name){|action| action.view = 'view/partials/sidebar.rhtml'} %>
		</div>
		<div id="footer">
			footer
		</div>
	</div>
</body>
</html>