<div class="content">
	<form action="<%= Rs(:upload_photo) %>" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<label for="photo_path"><%= _('Photo') %> <%= flash[:error_profile_photo_path] %></label>
		<input type="file" name="photo_path" value="" />
		
		<label for="submit"></label>
		<input type="submit" value="Continue &rarr;">
	</form>
</div>

<div class="content">
	<% @photos.each do |photo| %>
	<img src="<%= photo.thumbnail %>" alt="..." />
	<% end %>
</div>