<div class="content">
	<form action="upload_photo" method="get" accept-charset="utf-8" enctype="multipart/form-data">
		<label for="photo"><%= _('Photo') %> <%= flash[:error_profile_photo] %></label>
		<input type="file" name="photo" value="" />
		
		<label for="submit"></label>
		<input type="submit" value="Continue &rarr;">
	</form>
</div>

<div class="content">
	bu!
</div>