<div class="content">
<p>SoundTape is a work in progress for a school project, some things work and some don't. In the mean time all tests and feedback are welcome. We are less than a month due to presentation, so a freeze will happen soon and all effort will go into bug fixing.</p>
<br />
<p>We thank you for any tests, feedback and ideas!</p>
</div>